:root {
  --white: #ffffff;

  --light: #f9f9f9;

  --dark: #333333;

  --pink: #dd71c6;
  --pink-lowOp: #dd71c6b6;

  --lightBlue: #73c3f4;
  --lightBlue-lowOp: #73c3f494;

  --blue: #0083d3;
  --blue-lowOp: #0083d3;

  --yellow: #ffd900;
  --yellow-lowOp: #ffd90098;

  -sections-m: 390px;
}

/* Structures  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.page {
  height: 100vh;
  display: grid;
  grid-template-rows: 5em 1fr 36.875em;
  grid-template-columns: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

section .content {
  margin-left: var(--sections-m);
  margin-right: var(--sections-m);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-flex;
  padding: 10px 14px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  color: var(--white);
  cursor: pointer;
}

button:hover {
  transition: 0.3s;
  transform: scale(1.1);
  color: var(--white);
  filter: brightness(1.1);
}

/* Texts  */

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 45px;
  font-weight: 400;
}

/* Sections  backgrounds*/

header {
}
section:nth-child(1) {
  position: relative;
  background: var(--light);
  z-index: 3;
}
section:nth-child(2) {
  background: var(--pink);
  z-index: 3;
}
section:nth-child(3) {
  background: var(--lightBlue);
  z-index: 3;
}
section:nth-child(4) {
  background: var(--white);
  z-index: 3;
}
section:nth-child(5) {
  background: var(--light);
  z-index: 3;
}
section:nth-child(6) {
  background: var(--white);
  z-index: 3;
}

footer {
  background: var(--light);
}

/* Header  */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}

header .resp-menu {
  display: none;
}

header .logo {
  margin-left: var(--sections-m);
}

header nav ul {
  display: flex;
  margin-right: var(--sections-m);
  position: relative;
  z-index: 2;
  position: relative;
  z-index: 5;
}

header nav ul li {
  margin: 0 2em;
  font-size: 14px;
}

header nav ul li:hover {
  scale: 1.05;
  font-weight: bold;
  transition: 0.5s;
}

.decorative-circle {
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50%;
  border: 28px solid var(--white);
  z-index: 1;
}

.card {
  background: var(--white);
  display: inline-flex;
  border-radius: 20px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.03);
}

/* ------------- Hero section ----------- */
.hero-section {
}

.hero-section .blob {
  background: var(--yellow);
  height: 120%;
  width: 30%;
  position: absolute;
  right: 0;
  top: -13%;
  z-index: 1;
  border-radius: 50px 0% 0% 0%;
}

.hero-section .blob .decorative-circle {
  width: 436px;
  height: 436px;
  flex-shrink: 0;
  left: 60%;
  opacity: 0.15;
}

.hero-section .content {
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em;
}

.hero-section .content .resp-text {
  display: none;
}

/* Hero presentation  */

.hero-section .content .presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-section .content .presentation .first-row {
  display: flex;
  width: 100%;
  align-items: center;
}

.hero-section .content .presentation .first-row h1 {
  color: var(--dark);
  font-family: "Libre Baskerville";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 67.5px */
  margin-bottom: 0.5em;
  width: 437px;
  margin-left: -4em;
  z-index: 3;
}

.hero-section .content .presentation .first-row h1 span,
.hero-section .content .presentation .first-row h4 span {
  color: var(--pink);
}

.hero-section .content .presentation .first-row h4 {
  display: none;
  z-index: 3;
}

.hero-section .content .presentation p {
  width: 469px;
  color: #333;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 1.5em;
  text-align: left;
  z-index: 3;
}

.hero-section .content .presentation .text {
  z-index: 3;
  margin-left: -11em;
}

.hero-section .content .presentation button {
  background-color: var(--pink);
  margin-left: -13.1em;
}

.hero-section .content .presentation button:hover {
  background: var(--pink-lowOp);
}

/* Countdown  */
.hero-section .content .first-row .countdown {
  height: 320px;
  padding: 41px 36px;
  background: #ffffff8e;
  backdrop-filter: blur(10px);
  max-width: 600px;
  border-radius: 50px;
  position: relative;
  z-index: 5;
  border-radius: 50px;
  background: linear-gradient(
    108deg,
    rgba(255, 255, 255, 0.51) 9.7%,
    rgba(255, 255, 255, 0.49) 88.76%
  );
  position: relative;
  left: 15%;
  backdrop-filter: blur(33.5px);
}

.hero-section .content .first-row .countdown .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section .content .first-row .countdown p {
  display: flex;
  justify-content: center;
  margin: 2em;
  margin-top: 0.3em;
}

.hero-section .content .first-row .countdown .cronometer {
  display: flex;
}

.hero-section .content .first-row .countdown .cronometer .countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0em 0;
}

.hero-section .content .first-row .countdown .cronometer .countdown-item h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--blue);
  margin: 1em;
}

.hero-section
  .content
  .first-row
  .countdown
  .cronometer
  .countdown-item
  .count {
  font-size: 50px;
  margin: 0.5em;
}

.offer-announce {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Decorative circles hero section  */
.hero-section .decorative-circle {
  width: 368px;
  height: 368px;
  top: 20%;
  left: -5%;
}

.hero-section button:hover {
  transition: 0.3s;
  transform: scale(1.1);
  color: var(--white);
}

/*-------- Stats section---------------  */

.stats-section {
  position: relative;
  z-index: 2;
}

.stats-section .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5em;
}

.stats-section .content .cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card stylying */

.stats-section .content .cards .card {
  width: 249px;
  height: 264px;
  margin: 3em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.stats-section .content .cards .card .number {
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%; /* 71.16px */
}

.stats-section .content .cards .card .number span {
  color: #c4c4c4;
}

.stats-section .content button {
  background: var(--yellow);
}

/* Decorative circles  */

.stats-section .content .decorative-circle:nth-child(1) {
  left: -5%;
  width: 185px;
  height: 185px;
  flex-shrink: 0;
  stroke-width: 28px;
  stroke: #fff;
  opacity: 0.15;
}

.stats-section .content .decorative-circle:nth-child(4) {
  top: 10%;
  right: -10%;
  width: 308px;
  height: 308px;
  flex-shrink: 0;
  border: 28px solid #fff;
  opacity: 0.15;
}

/* ----------- Who is it section ------------ */
.who-is-it-section {
}

.who-is-it-section .content {
  position: relative;
  margin: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.who-is-it-section .content img {
  z-index: 3;
}

.who-is-it-section .content .text {
  width: 491px;
  height: 497px;
  flex-shrink: 0;
  color: var(--white);
  z-index: 3;
}
.who-is-it-section .content .text .row {
  margin-bottom: 2em;
}

.who-is-it-section .content .text h2 {
  color: var(--white);
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 51.2px */
  margin-bottom: 1em;
  z-index: 3;
}

.who-is-it-section .content .text p {
  width: 388px;
  color: var(--white);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  z-index: 3;
}

.who-is-it-section .content .text button {
  background: var(--pink);
}

/* Decorative circles */

.who-is-it-section .content .decorative-circle:nth-child(1) {
  width: 271px;
  height: 271px;
  flex-shrink: 0;
  border-radius: 271px;
  border: 28px solid #fff;
  left: -7%;
  z-index: 1;
}

.who-is-it-section .content .decorative-circle:nth-child(4) {
  width: 85px;
  height: 85px;
  top: 15%;
  right: 25%;
  flex-shrink: 0;
  z-index: 1;
}

.who-is-it-section .content .decorative-circle:nth-child(5) {
  width: 489px;
  height: 489px;
  flex-shrink: 0;
  border-radius: 489px;
  border: 28px solid #fff;
  opacity: 0.15;
  right: -10%;
  z-index: 1;
}

/* -------- We can help you section ---------  */
.we-can-help-you-section {
}

.we-can-help-you-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5em;
  position: relative;
}

.we-can-help-you-section .content h2 {
  color: var(--dark);
  text-align: center;
  font-family: "Libre Baskerville";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 51.2px */
  margin-bottom: 1em;
}

.we-can-help-you-section .content p {
  width: 1140px;
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 2em;
}

.we-can-help-you-section .content button {
  background: var(--pink);
}

.we-can-help-you-section .content .team-img-alt {
  display: none;
}

.we-can-help-you-section .content .decorative-circle {
  display: none;
}

/* -------- What you'll get --------  */

.what-you-get-section {
  background: var(--light);
}

.what-you-get-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5em;
  position: relative;
}

.what-you-get-section .content h2 {
  color: var(--dark);
  text-align: center;
  font-family: "Libre Baskerville";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 51.2px */
  margin: 1em;
}

.what-you-get-section .content h2 span {
  color: var(--pink);
}

/* Cards   */
.what-you-get-section .content .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}
.what-you-get-section .content .cards > div {
  margin: 2em;
}

.what-you-get-section .content .cards .card.service-card {
  display: flex;
  width: 447px;
  height: 391px;
  padding-top: 28px;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  flex-shrink: 0;
}

.what-you-get-section .content .cards .card.service-card:nth-child(1) h3,
.what-you-get-section .content .cards .card.service-card:nth-child(2) h3 {
  color: var(--blue);
  text-align: center;
  font-family: "Libre Baskerville";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 172.5%; /* 41.4px */
}

.what-you-get-section .content .cards .card.service-card:nth-child(2) h3 {
  color: var(--pink);
}

.what-you-get-section .content .cards .card.service-card .underline {
  width: 90%;
  height: 1px;
  background: var(--blue);
}

.what-you-get-section
  .content
  .cards
  .card.service-card:nth-child(2)
  .underline {
  width: 90%;
  height: 1px;
  background: var(--pink);
}

.what-you-get-section .content button {
  background: var(--pink);
}

.what-you-get-section .content .cards .card.service-card ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 90%;
}

.what-you-get-section .content .cards .card.service-card ul li {
  list-style: disc;
  margin: 0 1em 1em;
}

/* Decorative circles  */
.what-you-get-section .content .decorative-circle:nth-child(1) {
  width: 386px;
  height: 386px;
  flex-shrink: 0;
  left: -60%;
}

.what-you-get-section .content .decorative-circle:nth-child(4) {
  width: 158px;
  height: 158px;
  flex-shrink: 0;
  bottom: 20%;
  right: -20%;
}
.what-you-get-section .content .decorative-circle:nth-child(5) {
  width: 279px;
  height: 279px;
  flex-shrink: 0;
  top: -10%;
  right: -35%;
}

/* ------- FAQ'S section --------- */
.faqs-section {
}

.faqs-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5em;
  position: relative;
}

.faqs-section .content h2 {
  color: var(--dark);
  font-family: "Libre Baskerville";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 51.2px */
}

.faqs-section .content .faqs {
  margin: 5em 0;
}

.faqs-section .content .faqs-item,
.faqs-section .content .answer {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  align-items: center;
  width: 1135px;
  background: var(--light);
  margin: 1em 0;
  border-radius: 20px;
  cursor: pointer;
}

.faqs-section .content .faqs-item {
  position: relative;
  z-index: 2;
}

.faqs-section .content .faqs-item.active {
  background-color: var(--white);
  border: 1px solid var(--pink);
  transform: scale(1.1);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}

.faqs-section .content .faqs-item:hover {
  transform: scale(1.1);
  transition: 1s;
}

.faqs-section .content .answer {
  text-align: center;
  margin: 2em 0;
  background: var(--pink);
  color: var(--white);
}

.faqs-section .content .faqs-item p {
}

.faqs-section .content .answer {
  display: none;
  margin-top: -2em;
  z-index: 1;
}

.faqs-section .content .answer.active {
  display: block;
  animation: cardAppearing 0.5s ease-in;
}

@keyframes cardAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.faqs-section .content .faqs-item .drop-arrow {
  cursor: pointer;
  position: relative;
  margin: 0 2em;
}

.faqs-section .content .faqs-item .drop-arrow.active {
  transform: scaleY(-1);
  transition: 0.5s;
}

.faqs-section .content .faqs-item .drop-arrow .line-1 {
  position: absolute;

  width: 10px;
  border-radius: 15px;
  height: 3px;
  background: var(--pink);
  transform: rotate(45deg);
}

.faqs-section .content .faqs-item .drop-arrow .line-2 {
  position: absolute;
  left: 6px;
  width: 10px;
  border-radius: 15px;
  height: 3px;
  background: var(--pink);
  transform: rotate(-45deg);
}

.faqs-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: var(--pink);
}

/* Decorative circles  */

.faqs-section .decorative-circle:nth-child(2) {
  width: 410px;
  height: 410px;
  flex-shrink: 0;
  bottom: 17%;
  left: -50%;
  border-radius: 410px;
  border: 28px solid #f9f9f9;
}

.faqs-section .decorative-circle:nth-child(5) {
  width: 269px;
  height: 269px;
  flex-shrink: 0;
  border-radius: 269px;
  border: 28px solid #f9f9f9;
  top: 2%;
  right: -30%;
}

.faqs-section .decorative-circle:nth-child(6) {
  width: 124px;
  height: 124px;
  flex-shrink: 0;
  border: 28px solid var(--light);
  right: -15%;
  bottom: 15%;
}


/* -------- Footer ------  */
footer {
  position: relative;
}
footer .content,
footer .foot-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5em;
}

/* Footer info  */
footer .content .info {
  z-index: 3;
}
footer .content .info p {
  width: 443px;
  color: var(--dark);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin: 1em 0;
}

footer .content .info .logo {
  margin: 1em 0;
}

footer .content .info .contact {
  display: flex;
  align-items: center;
}

footer .content .info .contact svg {
  margin-right: 1em;
}

footer .content .sections {
  display: flex;
  z-index: 3;
}

footer .content .sections > div {
  margin: 0 1em;
}

footer .content .sections .section-item {
  display: flex;
  flex-direction: column;
}

footer .content .sections .section-item h2 {
  color: var(--dark);
  font-family: "Libre Baskerville";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
  margin: 1em 0;
}

footer .content .sections .section-item a {
  color: var(--dark);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin: 1em 0;
}

footer .foot-footer .social-icons {
  margin-left: -12em;
}

footer .foot-footer .copyright {
  margin-right: -10em;
}

/* Decorative circles  */
footer .content .decorative-circle:nth-child(1) {
  width: 230px;
  height: 230px;
  flex-shrink: 0;
  stroke-width: 28px;
  stroke: var(--white);
  left: -2%;
}

footer .content .decorative-circle:nth-child(4) {
  width: 368px;
  height: 368px;
  flex-shrink: 0;
  border-radius: 368px;
  border: 28px solid #fff;
  right: -8%;
  bottom: 15%;
}




/* --------Responsive ---------  */

@media only screen and (max-width: 1310px) {
  .stats-section .content .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
  }
}

@media only screen and (max-width: 1250px) {
  .hero-section .content {
    margin: 20%;
  }

  .hero-section .content .presentation .first-row {
    margin: 5%;
  }

  .hero-section .content .presentation .first-row .countdown {
    width: 500px;
    left: 5%;
  }

  .hero-section .content .presentation .text {
    margin-left: -19%;
  }

  .faqs-section{
    width: 100%;
  }
  

  .who-is-it-section .content .decorative-circle:nth-child(1){
    opacity: .5;
  }
  
  .faqs-section .content {
    width: 70%;
    margin: 5em;
  }

  .faqs-section .content h2 {
    width: 436px;
  }

  .faqs-section .content .faqs {
    margin-top: 1em;
  }

  .faqs-section .content .faqs-item,
  .faqs-section .content .answer {
    width: 100%;
    z-index: 2;
  }

  .faqs-section .content .decorative-circle {
    display: none;
    z-index: 1;
  }
}


@media only screen and (max-width: 1141px) {
  header nav ul li{
    font-size: 10px;
  }

  .hero-section .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    margin: 1em;
  }

  .hero-section .content .presentation .first-row {
    display: flex;
    flex-direction: column;
    align-items: inherit;
  }

  .hero-section .content .presentation .first-row h1 {
    font-size: 36px;
    margin-left: -3em;
  }

  .hero-section .content .presentation .first-row h4,
  .hero-section .content .presentation .first-row h4 span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .hero-section .content .presentation .first-row h4 span {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }

  /* Countdown  */
  .hero-section .content .first-row .countdown {
    padding: 26px 20px;
    width: 394px;
    height: 223px;
    background: #ffffff8e;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    margin: 2em 0;
    border-radius: 30px;
    background: linear-gradient(
      108deg,
      rgba(255, 255, 255, 0.51) 9.7%,
      rgba(255, 255, 255, 0.49) 88.76%
    );
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    position: inherit;
  }

  .hero-section .content .first-row .countdown .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-section .content .countdown p {
    margin: 0.5em;
    margin-top: 0.3em;
  }

  .hero-section .content .countdown .cronometer {
    display: flex;
  }

  .hero-section .content .first-row .countdown .cronometer .countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0;
  }

  .hero-section .content .first-row .countdown .cronometer .countdown-item h3 {
    font-size: 12px;
    margin: 0.5em;
  }

  .hero-section
    .content
    .first-row
    .countdown
    .cronometer
    .countdown-item
    .count {
    font-size: 36px;
    margin: 0.5em;
  }

  .hero-section
  .content .presentation button{
    margin: auto;
    justify-content: center;
    align-items: center;
  }

}
