/* Tablet  */
@media only screen and (max-width: 430px) {
  .page {
    grid-template-rows: 5em 1fr 65em;
  }

  /* Header */
  header {
    justify-content: space-between;
  }
  header nav {
    display: none;
  }

  header .logo {
    margin: 2em 2em;
  }

  header .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 3em;
    cursor: pointer;
    z-index: 5;
  }

  header .hamburger.active {
    position: fixed;
    top: 1em;
    right: 1em;
  }

  header .hamburger.active .bar {
    background: var(--white);
  }

  header .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg);
    animation: bar-1 0.5s ease-in-out;
  }

  header .hamburger.active .bar:nth-child(2) {
    animation: bar-1 0.3s ease-in-out;
    transform: translateY(-5.5px) rotate(-45deg);
  }

  header .hamburger.active .bar:nth-child(3) {
    display: none;
  }

  header .hamburger .bar {
    width: 20px;
    height: 2px;
    margin: 2px 0;
    background: var(--pink);
  }

  @keyframes bar-1 {
    0% {
      background: var(--pink);
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
      background: var(--white);
    }
  }

  @keyframes bar-2 {
    0% {
      background: var(--pink);
      transform: rotate(0deg);
    }
    100% {
      transform: translateY(-5.5px) rotate(-45deg);
      background: var(--white);
    }
  }

  header .resp-menu.active {
    display: block;
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: var(--lightBlue);
    z-index: 4;
    animation: respMenu 1s ease-in-out;
  }

  @keyframes respMenu {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  header .resp-menu .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  header .resp-menu nav {
    display: block;
    margin-top: 5em;
    position: relative;
  }

  header .resp-menu nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;
  }

  header .resp-menu nav ul li {
    color: var(--white);
    margin: 1em;
  }

  header .resp-menu .content button {
    margin: 20% 0;
    background: var(--yellow);
  }

  header .resp-menu .content .social-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 5%;
    left: 5%;
    margin: 0;
  }

  header .resp-menu .decorative-circle {
    display: none;
  }

  /* Hero presentation  */

  section:nth-child(1) {
    align-items: none;
    background: var(--light);
  }

  .hero-section .blob {
    z-index: 1;
    top: -11%;
    width: 50%;
    height: 120vh;
  }

  .hero-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin: 1em;
  }

  .hero-section .content .presentation .first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-section .content .presentation .first-row h1 {
    width: 281px;
    text-align: center;
    font-size: 30px;
    margin-left: 0;
  }

  .hero-section .content .presentation .first-row h4,
  .hero-section .content .presentation .first-row h4 span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .hero-section .content .presentation .first-row h4 span {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }

  /* Countdown  */
  .hero-section .content .first-row .countdown {
    display: flex;
    width: 281px;
    padding: 26px 36px;
    background: #ffffff8e;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    margin: 2em 0;
    border-radius: 30px;
    background: linear-gradient(
      108deg,
      rgba(255, 255, 255, 0.51) 9.7%,
      rgba(255, 255, 255, 0.49) 88.76%
    );
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
  }

  .hero-section .content .first-row .countdown p {
    width: 349px;
    text-align: center;

    margin: 0;
    font-size: 12px;
  }

  .hero-section .content .first-row .countdown .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: flex;
    width: 234px;
    height: 107px;
  }

  .hero-section .content .countdown p {
    margin: 0;
    margin-top: 0;
  }

  .hero-section .content .countdown .cronometer {
    display: flex;
  }

  .hero-section .content .first-row .countdown .cronometer .countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0;
  }

  .hero-section .content .first-row .countdown .cronometer .countdown-item h3 {
    font-size: 8px;
    margin: 0.5em;
  }

  .hero-section
    .content
    .first-row
    .countdown
    .cronometer
    .countdown-item
    .count {
    font-size: 36px;
    margin: 0.5em;
  }

  .hero-section .content button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 2em;
  }

  .hero-section .content .presentation .text {
    display: none;
  }

  .hero-section .content .presentation .resp-text {
    width: 281px;
    margin-left: 0;
  }

  /* Decorative circles hero section  */
  .hero-section .decorative-circle:nth-child(1) {
    width: 273px;
    height: 273px;
    top: 35%;
    left: -20%;
    border: 20px solid var(--light);
  }

  .hero-section .blob .decorative-circle:nth-child(1) {
    top: 45%;
    left: 35%;
    border: 20px solid var(--light);

    width: 179px;
    height: 179px;
    flex-shrink: 0;
  }

  .hero-section .blob .decorative-circle:nth-child(2) {
    width: 289px;
    height: 289px;
    flex-shrink: 0;
    border-radius: 289px;
    border: 28px solid #fff;
    opacity: 0.15;
    top: 5%;
    left: 40%;
  }

  /* Stats section  */

  .stats-section {
  }

  .stats-section .content {
    margin: 2em;
    margin-bottom: 3em;
  }

  .stats-section .content .cards {
  }

  .stats-section .content .cards .card {
    display: flex;
    width: 146px;
    height: 215px;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    margin: 1em;
  }

  .stats-section .content .cards .card.stat-card {
    justify-content: space-around;
  }

  .stats-section .content .cards .card.stat-card svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .stats-section .content .cards .card.stat-card .number {
    font-size: 24px;
  }

  .stats-section .content .cards .card.stat-card p {
    display: flex;
    width: 123px;
    height: 94px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 16px;
  }

  .stats-section .content button {
    margin-top: 1.5em;
  }

  .stats-section .content .decorative-circle:nth-child(1) {
    display: none;
  }

  .stats-section .content .decorative-circle:nth-child(4) {
    width: 181px;
    height: 181px;
    top: 40%;
    right: -5%;
    flex-shrink: 0;
  }

  /* Who-is-it-section */
  .who-is-it-section {
  }

  .who-is-it-section .content {
    display: flex;
    flex-direction: column;
  }

  .who-is-it-section .content .text .row h2 {
    width: 408px;
    font-size: 32px;
  }

  .who-is-it-section .content .text .row p {
    width: 440px;
    height: 130px;
    flex-shrink: 0;
  }

  .who-is-it-section .content img {
    margin: 5em;
    margin-bottom: 0;
  }

  .who-is-it-section .content .decorative-circle:nth-child(1) {
    width: 413px;
    height: 413px;
    flex-shrink: 0;
    border-radius: 413px;
    border: 28px solid #fff;
    opacity: 0.15;
    left: -40%;
  }

  .who-is-it-section .content .decorative-circle:nth-child(4) {
    width: 108.983px;
    height: 108.983px;
    flex-shrink: 0;
    border: 20px solid var(--white);
    top: 50%;
    right: 25%;
    flex-shrink: 0;
  }

  .who-is-it-section .content .decorative-circle:nth-child(5) {
    width: 413px;
    height: 413px;
    flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 489px;
    border: 28px solid #fff;
    opacity: 0.15;
    top: 5%;
    right: -30%;
  }

  .who-is-it-section .content button {
    display: flex;
    justify-content: center;
    margin: 2em auto;
    align-items: center;
  }

  /* We can help you  */
  .we-can-help-you-section {
    background: var(--white);
  }

  .we-can-help-you-section .content {
  }

  .we-can-help-you-section .content h2 {
    width: 439px;
    z-index: 2;
  }

  .we-can-help-you-section .content p {
    width: 440px;
    text-align: justify;
    z-index: 2;
  }

  .we-can-help-you-section .team-img-main {
    display: none;
  }

  .we-can-help-you-section .content .team-img-alt {
    display: block;
    margin: 2em;
  }

  .we-can-help-you-section .content .decorative-circle {
    display: block;
    width: 388px;
    height: 388px;
    flex-shrink: 0;
    border-radius: 388px;
    border: 28px solid #f9f9f9;
    top: 0;
    right: -10%;
    z-index: 1;
  }

  /* What you'll get  */

  .what-you-get-section {
  }

  .what-you-get-section .content {
  }

  .what-you-get-section .content h2 {
    z-index: 2;
  }

  .what-you-get-section .content .cards {
    display: flex;
    flex-direction: column;
  }

  .what-you-get-section .content .cards .card .service-card {
    display: flex;
    width: 440px;
    height: 363px;
    padding-top: 9px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    flex-shrink: 0;
    z-index: 2;
  }

  .what-you-get-section .content .cards .card.service-card h3,
  .what-you-get-section .content .cards .card.service-card:nth-child(2) h3 {
    width: 264px;
    font-size: 24px;
    z-index: 2;
  }

  .what-you-get-section .content .cards .card.service-card .underline,
  .what-you-get-section
    .content
    .cards
    .card.service-card:nth-child(2)
    .underline {
    width: 50%;
  }

  .what-you-get-section .content .cards .card.service-card ul li {
    width: 275px;
    margin: auto;
  }

  .what-you-get-section .content .decorative-circle:nth-child(1) {
    width: 238px;
    height: 238px;
    flex-shrink: 0;

    top: 0%;
    left: -30%;
    z-index: 1;
  }

  .what-you-get-section .content .decorative-circle:nth-child(4) {
    width: 238px;
    height: 238px;
    flex-shrink: 0;
    top: 50%;
    right: -35%;
    z-index: 1;
  }
  .what-you-get-section .content .decorative-circle:nth-child(5) {
    width: 392px;
    height: 392px;
    flex-shrink: 0;
    top: 60%;
    left: -55%;
    z-index: 1;
  }

  /* Faqs section  */
  .faqs-section {
  }

  .faqs-section .content {
    width: 50%;
    margin: 5em;
  }

  .faqs-section .content h2 {
    width: 436px;
  }

  .faqs-section .content .faqs {
    margin-top: 1em;
  }

  .faqs-section .content .faqs-item,
  .faqs-section .content .answer {
    width: 439px;
    z-index: 2;
  }

  .faqs-section .content .decorative-circle {
    display: none;
    z-index: 1;
  }

  /* Footer  */

  footer {
  }

  footer .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--light);
  }

  footer .content {
    margin: 5em;
  }

  footer .content .info {
    z-index: 2;
  }

  footer .content .info p {
    width: 300px;
  }

  footer .content .info .contact {
    align-items: center;
  }

  footer .content .info .contact svg {
  }

  footer .content .info .contact p {
    display: flex;
    flex-direction: column;
  }

  footer .content .sections {
    margin: 0;
    z-index: 2;
  }

  footer .foot-footer .social-icons {
    margin-left: -3em;
  }

  footer .foot-footer .copyright {
    margin-right: -5em;
  }

  footer .content .decorative-circle:nth-child(1) {
    width: 230px;
    height: 230px;
    flex-shrink: 0;
    top: 15%;
    left: 10%;
    z-index: 1;
  }

  footer .content .decorative-circle:nth-child(4) {
    width: 366px;
    height: 366px;
    flex-shrink: 0;
    border-radius: 368px;
    border: 28px solid #fff;
    right: -3%;
    bottom: 5%;
  }
}
