:root {
  --white: #ffffff;

  --light: #f9f9f9;

  --dark: #333333;

  --pink: #dd71c6;

  --lightBlue: #73c3f4;

  --blue: #0083d3;

  --yellow: #ffd900;

  -sections-m: 390px;
}

/* Structures  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

article {
  height: 100vh;
  display: grid;
  grid-template-rows: 5em 1fr 36.875em;
  grid-template-columns: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

section .content {
  margin-left: var(--sections-m);
  margin-right: var(--sections-m);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-flex;
  padding: 10px 14px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  color: var(--white);
  cursor: pointer;
}

/* Texts  */

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 45px;
  font-weight: 400;
}

/* Sections  backgrounds*/

header {
}
section:nth-child(1) {
  position: relative;
  background: var(--light);
  z-index: 3;
}
section:nth-child(2) {
  background: var(--pink);
  z-index: 3;
}
section:nth-child(3) {
  background: var(--lightBlue);
  z-index: 3;
}
section:nth-child(4) {
  background: var(--white);
  z-index: 3;
}
section:nth-child(5) {
  background: var(--light);
  z-index: 3;
}
section:nth-child(6) {
  background: var(--white);
  z-index: 3;
}

footer {
  background: var(--light);
}

/* Header  */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}


header .resp-menu {
  display: none;
}

header .logo {
  margin-left: var(--sections-m);
}

header nav ul {
  display: flex;
  margin-right: var(--sections-m);
  position: relative;
  z-index: 2;
}

header nav ul li {
  margin: 0 2em;
  font-size: 14px;
}

header nav ul li:hover {
  scale: 1.05;
  font-weight: bold;
  transition: 0.5s;
}

.decorative-circle {
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50%;
  border: 28px solid var(--white);
}

.card {
  background: var(--white);
  display: inline-flex;
  border-radius: 20px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.03);
}

/* ------------- Hero section ----------- */
.hero-section {
}

.hero-section .blob {
  background: var(--yellow);
  height: 100%;
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  border-radius: 50px 0% 0% 0%;
}

.hero-section .blob .decorative-circle {
  width: 436px;
  height: 436px;
  flex-shrink: 0;
  left: 60%;
  opacity: 0.15;
}

.hero-section .content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: first baseline;
  margin-top: 10%;

  margin-bottom: 5%;
}

/* Hero presentation  */

.hero-section .content .presentation {
  width: 30%;
  position: relative;
}

.hero-section .content .presentation h1 {
  color: #333;
  font-family: Libre Baskerville;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 67.5px */
  margin-bottom: 0.5em;
}

.hero-section .content .presentation h1 span {
  color: var(--pink);
}

.hero-section .content .presentation p {
  width: 469px;
  color: #333;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 1.5em;
  text-align: left;
}

.hero-section .content .presentation button {
  background: var(--pink);
}

/* Countdown  */
.hero-section .content .countdown {
  padding: 41px 36px;
  background: #ffffff8e;
  backdrop-filter: blur(10px);
  height: 321px;
  border-radius: 50px;
}

.hero-section .content .countdown .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section .content .countdown p {
  margin: 2em;
  margin-top: 0.3em;
}

.hero-section .content .countdown .cronometer {
  display: flex;
}

.hero-section .content .countdown .cronometer .countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}

.hero-section .content .countdown .cronometer .countdown-item h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--blue);
  margin: 1em;
}

.hero-section .content .countdown .cronometer .countdown-item .count {
  font-size: 50px;
  margin: 1em;
}

/* Decorative circles hero section  */
.hero-section .decorative-circle {
  width: 368px;
  height: 368px;
  top: 20%;
  left: -5%;
}

/*-------- Stats section---------------  */

.stats-section {
  position: relative;
  z-index: 2;
}

.stats-section .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5em;
}

.stats-section .content .cards {
  display: flex;
}

/* Card stylying */

.stats-section .content .cards .card {
  width: 249px;
  height: 264px;
  margin: 3em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.stats-section .content .cards .card .number {
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%; /* 71.16px */
}

.stats-section .content .cards .card .number span {
  color: #c4c4c4;
}

.stats-section .content button {
  background: var(--yellow);
}

/* Decorative circles  */

.stats-section .content .decorative-circle:nth-child(1) {
  left: -5%;
  width: 185px;
  height: 185px;
  flex-shrink: 0;
  stroke-width: 28px;
  stroke: #fff;
  opacity: 0.15;
}

.stats-section .content .decorative-circle:nth-child(4) {
  top: 10%;
  right: -10%;
  width: 308px;
  height: 308px;
  flex-shrink: 0;
  border: 28px solid #fff;
  opacity: 0.15;
}

/* ----------- Who is it section ------------ */
.who-is-it-section {
}

.who-is-it-section .content {
  margin: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.who-is-it-section .content .text {
  width: 491px;
  height: 497px;
  flex-shrink: 0;
  color: var(--white);
}
.who-is-it-section .content .text .row {
  margin-bottom: 2em;
}

.who-is-it-section .content .text h2 {
  color: var(--white);
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 51.2px */
  margin-bottom: 1em;
}

.who-is-it-section .content .text p {
  width: 388px;
  color: var(--white);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
}

.who-is-it-section .content .text button {
  background: var(--pink);
}

/* Image decoration  */

.who-is-it-section .content .image-composition {
  position: relative;
}
.who-is-it-section .content .image-composition .decorative-circle {
  top: -15em;
  background-image: url("./src/img/Person\ -\ 1.png");
}

/* -------- We can help you section ---------  */
.we-can-help-you-section {
}

.we-can-help-you-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5em;
}

.we-can-help-you-section .content h2 {
  color: var(--dark);
  text-align: center;
  font-family: "Libre Baskerville";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 51.2px */
  margin-bottom: 1em;
}

.we-can-help-you-section .content p {
  width: 1140px;
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 2em;
}

.we-can-help-you-section .content button {
  background: var(--pink);
}

/* -------- What you'll get --------  */

.what-you-get-section {
  background: var(--light);
}

.what-you-get-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5em;
  position: relative;
}

.what-you-get-section .content h2 {
  color: var(--dark);
  text-align: center;
  font-family: "Libre Baskerville";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 51.2px */
  margin: 1em;
}

.what-you-get-section .content h2 span {
  color: var(--pink);
}

/* Cards   */
.what-you-get-section .content .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}
.what-you-get-section .content .cards > div {
  margin: 2em;
}

.what-you-get-section .content .cards .card.service-card {
  display: flex;
  width: 447px;
  height: 391px;
  padding-top: 28px;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  flex-shrink: 0;
}

.what-you-get-section .content .cards .card.service-card:nth-child(1) h3,
.what-you-get-section .content .cards .card.service-card:nth-child(2) h3 {
  color: var(--blue);
  text-align: center;
  font-family: "Libre Baskerville";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 172.5%; /* 41.4px */
}

.what-you-get-section .content .cards .card.service-card:nth-child(2) h3 {
  color: var(--pink);
}

.what-you-get-section .content .cards .card.service-card .underline {
  width: 90%;
  height: 1px;
  background: var(--blue);
}

.what-you-get-section
  .content
  .cards
  .card.service-card:nth-child(2)
  .underline {
  width: 90%;
  height: 1px;
  background: var(--pink);
}

.what-you-get-section .content button {
  background: var(--pink);
}

.what-you-get-section .content .cards .card.service-card ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 90%;
}

.what-you-get-section .content .cards .card.service-card ul li {
  list-style: disc;
  margin: 0 1em 1em;
}

/* Decorative circles  */
.what-you-get-section .content .decorative-circle:nth-child(1) {
  width: 386px;
  height: 386px;
  flex-shrink: 0;
  left: -60%;
}

.what-you-get-section .content .decorative-circle:nth-child(4) {
  width: 158px;
  height: 158px;
  flex-shrink: 0;
  bottom: 20%;
  right: -20%;
}
.what-you-get-section .content .decorative-circle:nth-child(5) {
  width: 279px;
  height: 279px;
  flex-shrink: 0;
  top: -10%;
  right: -35%;
}

/* ------- FAQ'S section --------- */
.faqs-section {
}

.faqs-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5em;
  position: relative;
}

.faqs-section .content h2 {
  color: var(--dark);
  font-family: "Libre Baskerville";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 51.2px */
}

.faqs-section .content .faqs {
  margin: 5em 0;
}

.faqs-section .content .faqs-item,
.faqs-section .content .answer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
  width: 1135px;
  background: var(--light);
  margin: 1em 0;
  border-radius: 20px;
}

.faqs-section .content .faqs-item {
  position: relative;
  z-index: 2;
}

.faqs-section .content .answer {
  text-align: center;
  margin: 2em 0;
  background: var(--pink);
  color: var(--white);
}

.faqs-section .content .faqs-item p {
}

.faqs-section .content .answer {
  display: none;
  margin-top: -2em;
  z-index: 1;
}

.faqs-section .content .answer.active {
  display: block;
  animation: cardAppearing 0.5s ease-in;
}

@keyframes cardAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.faqs-section .content .faqs-item .drop-arrow {
  cursor: pointer;
  position: relative;
  margin: 0 2em;
}

.faqs-section .content .faqs-item .drop-arrow.active {
  transform: scaleY(-1);
  transition: 0.5s;
}

.faqs-section .content .faqs-item .drop-arrow .line-1 {
  position: absolute;

  width: 10px;
  border-radius: 15px;
  height: 3px;
  background: var(--pink);
  transform: rotate(45deg);
}

.faqs-section .content .faqs-item .drop-arrow .line-2 {
  position: absolute;
  left: 6px;
  width: 10px;
  border-radius: 15px;
  height: 3px;
  background: var(--pink);
  transform: rotate(-45deg);
}

.faqs-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: var(--pink);
}

/* Decorative circles  */

.faqs-section .decorative-circle:nth-child(2) {
  width: 410px;
  height: 410px;
  flex-shrink: 0;
  bottom: 17%;
  left: -50%;
  border-radius: 410px;
  border: 28px solid #f9f9f9;
}

.faqs-section .decorative-circle:nth-child(5) {
  width: 269px;
  height: 269px;
  flex-shrink: 0;
  border-radius: 269px;
  border: 28px solid #f9f9f9;
  top: 2%;
  right: -30%;
}

.faqs-section .decorative-circle:nth-child(6) {
  width: 124px;
  height: 124px;
  flex-shrink: 0;
  border: 28px solid var(--light);
  right: -15%;
  bottom: 15%;
}

/* -------- Footer ------  */
footer {
  position: relative;
}
footer .content,
footer .foot-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5em;
}

/* Footer info  */
footer .content .info {
}
footer .content .info p {
  width: 443px;
  color: var(--dark);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin: 1em 0;
}

footer .content .info .logo {
  margin: 1em 0;
}

footer .content .info .contact {
  display: flex;
  align-items: center;
}

footer .content .info .contact svg {
  margin-right: 1em;
}

footer .content .sections {
  display: flex;
}

footer .content .sections > div {
  margin: 0 1em;
}

footer .content .sections .section-item {
  display: flex;
  flex-direction: column;
}

footer .content .sections .section-item h2 {
  color: var(--dark);
  font-family: "Libre Baskerville";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
  margin: 1em 0;
}

footer .content .sections .section-item a {
  color: var(--dark);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin: 1em 0;
}

footer .foot-footer .social-icons {
  margin-left: -12em;
}

footer .foot-footer .copyright {
  margin-right: -10em;
}

/* Decorative circles  */
footer .content .decorative-circle:nth-child(1) {
  width: 230px;
  height: 230px;
  flex-shrink: 0;
  stroke-width: 28px;
  stroke: var(--white);
  left: -2%;
}

footer .content .decorative-circle:nth-child(4) {
  width: 368px;
  height: 368px;
  flex-shrink: 0;
  border-radius: 368px;
  border: 28px solid #fff;
  right: -8%;
  bottom: 15%;
}

/* --------Responsive ---------  */

/* Tablet  */

@media only screen and (max-width: 820px) {
  header {
    justify-content: space-between;
  }
  header nav {
    display: none;
  }

  header .logo {
    margin: 1em;
  }

  header .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    cursor: pointer;
    z-index: 5;
  }

  header .hamburger.active {
    position: fixed;
    top: 1em;
    right: 1em;
  }

  header .hamburger.active .bar {
    background: var(--white);
  }

  header .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg);
    animation: bar-1 0.5s ease-in-out;
  }

  header .hamburger.active .bar:nth-child(2) {
    animation: bar-1 0.3s ease-in-out;
    transform: translateY(-5.5px) rotate(-45deg);
  }

  header .hamburger.active .bar:nth-child(3) {
    display: none;
  }

  header .hamburger .bar {
    width: 20px;
    height: 2px;
    margin: 2px 0;
    background: var(--pink);
  }

  @keyframes bar-1 {
    0% {
      background: var(--pink);
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
      background: var(--white);
    }
  }

  @keyframes bar-2 {
    0% {
      background: var(--pink);
      transform: rotate(0deg);
    }
    100% {
      transform: translateY(-5.5px) rotate(-45deg);
      background: var(--white);
    }
  }

  header .resp-menu.active {
    display: block;
    width: 40%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: var(--lightBlue);
    z-index: 4;
    animation: respMenu 1s ease-in-out;

  }

  @keyframes respMenu{
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(0);
    }
  }

  header .resp-menu .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  header .resp-menu nav {
    display: block;
    margin-top: 5em;
    position: relative;
  }

  header .resp-menu nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;
  }

  header .resp-menu nav ul li {
    color: var(--white);
    margin: 1em;
  }

  header .resp-menu .content button {
    margin: 50% 0;
    background: var(--yellow);
  }

  header .resp-menu .content .social-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 10%;
    margin: 0;
  }

  header .resp-menu .decorative-circle {
    display: none;
  }
}

/* Phone  */
@media only screen and (max-width: 430px) {
}
